
/* reset
--------------------------------------------------  */
* {margin:0; pading:0; font-size: 100%; border:none; outline:none; font-weight:300px;box-sizing: border-box; }
body { background:#eeeeee;}

/* Corpo do site
--------------------------------------------------  */
#corpo_site {width: ; margin:1% auto; border: 0px solid #eeeeee; z-index:100; background:#ffffff; }














